* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background: #222222;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px;
    padding: 15px;
    box-sizing: border-box;
    font-family: 'HobbitonBrushHand', cursive;
}


.header-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}


#logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 15px; 
}

#logo img {
    width: 160px; 
    height: auto;
    display: block;
}


.header-top .centered-content {
    width: 100%;
    padding-left: 200px; 
    box-sizing: border-box;
}


header h1 {
    text-align: center;
    font-size: 4em;
    color: #329664;
    margin: 0;
    flex: 1 1 auto;
}


header nav ul {
    display: flex;
    justify-content: center; 
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}
header nav a {
    color: #329664;
    text-decoration: none;
}

header nav ul li:first-child a {
    font-size: 2em;
    border: #329664 4px solid;
    border-radius: 20%;
}
header nav ul li:nth-child(2) a {
    font-size: 2em;
    border: #329664 4px solid;
    border-radius: 20%;
}
header nav ul li:nth-child(3) a {
    font-size: 2em;
    border: #329664 4px solid;
    border-radius: 20%;
}

#Meme-Search {
    display: flex;
    justify-content: flex-start;
    border: 2px solid #329664;
    width: 200px;
    height: 800px;
    padding-left: 15px;
}
#search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #329664;
    width: 1000px;
    height: 800px;
    margin-left: 20px;
}

